In [1]:
#Objective 1:
#Build a Bubble Plot that showcases relationships between four key variables:
#Average Fare ($) Per City
#Total Number of Rides Per City
#Total Number of Drivers Per City
#City Type

#Objective 2:
#Produce three pie charts that visualize how variables break down by City Type:
#% of Total Fares by City Type
#% of Total Rides by City Type
#% of Total Drivers by City Type

In [3]:
#Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [30]:
#Read in the data into a DataFrames
city_df = pd.read_csv("data/city_data.csv")
ride_df = pd.read_csv("data/ride_data.csv")

#print info
print(f"{city_df.head(2)} \n")
print(f"{ride_df.head(2)}\n")
print(f"city_df data types:\n{city_df.dtypes} \n")
print(f"ride_df data types:\n{ride_df.dtypes} \n")

#city = City Name, driver_count = number of drivers in that city, type = city type
#date = start?/end? date of fare, fare = dollar amount charged for the ride, ride_id = ride UUID

#check for invalid data
print('city_df-------------------------------------\n')
print(f"city_df.city count: {city_df['city'].count()}\n")
print(f"city_df.city nunique: {city_df['city'].nunique()}\n")
print(f"city_df.city isna: {city_df['city'].isna().sum()}\n\n")
      
print(f"city_df.driver_count count: {city_df['driver_count'].count()}\n")
print(f"city_df.driver_count nunique: {city_df['driver_count'].nunique()}\n")
print(f"city_df.driver_count isna: {city_df['driver_count'].isna().sum()}\n\n")
      
print(f"city_df.type count: {city_df['type'].count()}\n")
print(f"city_df.type nunique: {city_df['type'].nunique()}\n")
print(f"city_df.type isna: {city_df['type'].isna().sum()}\n\n")
      
#Check ride_df for invalid data
print('ride_df--------------------------------------\n')
print(f"ride_df.city count: {ride_df['city'].count()}\n")
print(f"ride_df.city nunique: {ride_df['city'].nunique()}\n")
print(f"ride_df.city isna: {ride_df['city'].isna().sum()}\n\n")

print(f"ride_df.date count: {ride_df['date'].count()}\n")
print(f"ride_df.date nunique: {ride_df['date'].nunique()}\n")
print(f"ride_df.date isna: {ride_df['date'].isna().sum()}\n\n")

print(f"ride_df.fare count: {ride_df['fare'].count()}\n")
print(f"ride_df.fare nunique: {ride_df['fare'].nunique()}\n")
print(f"ride_df.fare isna: {ride_df['fare'].isna().sum()}\n\n")
      
print(f"ride_df.ride_id count: {ride_df['ride_id'].count()}\n")
print(f"ride_df.ride_id nunique: {ride_df['ride_id'].nunique()}\n")
print(f"ride_df.ride_id isna: {ride_df['ride_id'].isna().sum()}\n\n")

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577

city_df data types:
city            object
driver_count     int64
type            object
dtype: object

ride_df data types:
city        object
date        object
fare       float64
ride_id      int64
dtype: object

city_df-------------------------------------

city_df.city count: 120

city_df.city nunique: 120

city_df.city isna: 0


city_df.driver_count count: 120

city_df.driver_count nunique: 52

city_df.driver_count isna: 0


city_df.type count: 120

city_df.type nunique: 3

city_df.type isna: 0


ride_df--------------------------------------

ride_df.city count: 2375

ride_df.city nunique: 120

ride_df.city isna: 0


ride_df.date count: 2375

ride_df.date nunique: 2375

ride_df.date isna: 0


ride_df.fare count: 2375

ride_df.fare nunique: 1841

ride_df.fare isna: 0


ride_df.ride_id count: 2375

ride_df.ride_id nunique: 2375

ride_df.ride_id isna: 0

In [39]:
#Merge the data conversing ride information
data = ride_df.merge(city_df, how="left", on="city")
print(f"{data.head()}\n")

                 city                 date   fare        ride_id  \
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344

   driver_count   type
0             5  Urban
1            72  Urban
2            57  Urban
3            34  Urban
4            46  Urban

#Define Average Fare per City

#Define Total Number of Rides per City

#Define Total Number of Drivers per City

#Create Bubble Plot

#Format Bubble Plot

#Show Bubble Plot